* {
  font-family: 'Coda Caption', sans-serif;
  font-size: 25px;
}

 .precio-item {
    color: #b48282;
    display: block;
  }
  
.caja-item {
    background-color: #110d19;
    margin: 15px 12px;
    height: 600px;
    width: 255px;
    border-radius: 5px;
    border: 1px solid #0b012d;
    display: block;
    padding: 15px;
  }

 

  .boton-agregar {
    font-size: 30px;
    background-color: #a00404;
    border-radius: 5px;
    color: #ffffff;
    border: none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    cursor: pointer;
    padding: 20px;
  }

  
  .eliminar-item {
    font-size: 23px;
    background-color: #d9534f;
    border-radius: 5px;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 8px;
  }
  
  .agregar-mas {
    font-size: 23px;
    background-color: #4c83b3;
    border-radius: 5px;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 8px;
  }

  .contador-item {
    color: #fff;
    background-color: #6c0d0d;
    display: flex;
    justify-content: center;
    border-radius: 20%;
    max-width: 40px;
    position: relative;
    left: 100px;
  }

@media screen and (max-width:650px){
    
}